<!DOCTYPE html>

<html>

<head>
    <title>Ajuda</title>
    <link rel="icon" href="../../image/icone.png" type="image/png"/>
    <link rel="stylesheet" href="../../CSS/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helptext}}</p>
    </div>
        
    <p>{{>footer}}</p>
</body>

</html>