<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="../../image/icone.png" type="image/png"/>
    <link rel="stylesheet" href="/CSS/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Obtenha a previsão do Tempo</p>

        <form>
            <input placeholder="local">
            <button>Pesquisar</button>
        </form>
        
        <p></p>
        <img id="iconedotempo" class="icon">
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>

    </div>
       
    <script src="/js/app.js"></script> 

    <p>{{>footer}}</p>
   
</body>



</html>